@charset "utf-8";

html 
{
    height: 100%;
}

body
{

    margin:0;
	margin-left: 10px;
    padding:0;
    font: 0.95em arial, sans-serif;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
        background-repeat: no-repeat;
    background-color: #7db9e8;
}

a:visited
{
	color: #235e9b;
}

a:active
{
	color: #c2e0ff;
}

a
{
	color: #235e9b;
}

table 
{
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0; 
    margin: auto;
}

table caption
{
    margin-bottom: 5px;
    font-size: 1.5em;
}

thead
{
    height: 30px;
}

th
{
    text-align: left;
    padding: 8px;
    background-color: #1864ca;
    color: white;
}

thead th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

thead th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

thead th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

tfoot th:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

tfoot th:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

tfoot th:only-child{
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}


tbody tr:nth-child(even) {
    background-color: #b0d9f7;     
}

tbody tr:hover
{
  cursor: pointer;
  background-color: #d8ecfa;  
} 

td
{
    padding: 8px;
}

form 
{
	margin:1em;
}

form p
{
    text-align: left;
}

fieldset
{
    margin: 5px;
}

fieldset input, fieldset select
{
    margin: 3px;
    margin-right: 20px;
}

.box
{
	background-color: #a0cfff;
	border-color: #1e5799;
	border-width: 2px;
	border-style: solid;
    margin-top: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-box-shadow: 1px 1px black;
    -webkit-box-shadow: 1px 1px black;
    box-shadow: 1px 1px black;
}

.boxheader
{
    text-align: left;
    padding: 8px;
    background-color: #1864ca;
    color: white;
    font-weight: bold;
    border-radius: 6px 6px 0 0;
}

.boxcontent
{
    padding: 8px;
}

.center
{
    text-align: center;
}

.right
{
    text-align: right;
}

.imglink
{
    text-decoration: none;

}

.imglink span
{
    text-decoration: underline;
}

input.error
{
    border: 2px solid red;
    background-color: #fec1ba;
}

.error, .mandatory
{
    color: red;
}

.highlightfield
{
    background-color: #ffffcc;
}

.disabled
{
    width: 300px;
    height: 30px;
    background-color: grey;
}

a.downloadcontainer
{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
}

.download
{
    width: 300px;
    height: 30px;
    background-color: #2989d8;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.download:hover
{
    background-color: lime;
}

.glossy
{
    margin: 20px;
    padding: 20px;
    padding-top: 12px;
    padding-bottom: 8px;

    
    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    
     box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */

    -o-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -webkit-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);

    -moz-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
}

.achievement
{
    background-color: #2989d8;
}

.achievement_completed
{
    background-color: orange;
}

.achievement_name
{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
    color: white;
    text-shadow: 1px 1px black;
}

.achievement_description
{
    color: white;
}

.achievement_completion
{
    width: 100px;
    float: right;
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
}

.achievement_completion_percentage
{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 4px;
}

.achievement_completion_ratio
{
    font-size: 0.6em;
}

#topbar
{
    margin: auto;
    font-size: 0.8em;
    text-align: right;
    width: 820px;
    margin-top: 10px;
    color: white;
}

#topbar a
{
    color: white;
    padding: 3px;
}

#topbar a:last
{
    padding-right: 0px;
}

#loginbox
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 320px;
    margin: auto;
    border: 2px #5b7590 solid;
    background-color: white;
    text-align: center;
    clear:both;
}

#loginbox fieldset 
{
	border:none;
}

#loginbox label 
{
	float:left;
	width: 130px;
	text-align:right;
}

#loginbox input, select 
{
	border:1px solid black;
	font:0.95em arial, sans-serif;
    margin: 2px;
    margin-left: 10px;
}

#usermenu
{
    float: right;
    padding: 10px;
    margin-right: 15px;
}

#header
{	
    position:fixed; 
    top:0;
    z-index: 1;
    width:100%;
    height: 35px;
    padding: 10px;
    background-color: white;
    border-bottom:1px solid #000;
}

#header p
{
    padding-left:.5em;
    margin:0;
}

#header h1
{
    padding:.2em 15px;
    margin:0;
}

#header h2
{
    padding:.2em 15px	.7em 15px;
    margin:0;
}

#colmask 
{
    position:relative;	/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
    clear:both;
    float:left;
    margin-top: 50px;
    padding-bottom: 50px;
    width:100%;			/* width of whole page */
    overflow:hidden;		/* This chops off any overhanging divs */
    background: #cacadb;		/* Left column background colour */
}

#colmid
{
    float:left;
    width:200%;
    position:relative;
    left:200px;
    background:#fff;    	/* Centre column background colour */
}

#colright
{
    position:relative;
    float:left;
    width: 100%;
    left:50%;
    margin-left:-400px;
    background:#e0dff2;    	/* Right column background colour */
}

#col1wrap
{
    float:right;
    width:50%;
    position:relative;
    right:100%;
}

#col1pad
{
    margin:0 15px 0 415px;
    overflow:hidden;
}

#col1
{
    width:100%;
}

#col2
{
    float:left;
    width:200px;
    min-height: 300px;
    position:relative;
    margin-left:-50%;
    left:215px;
    overflow:hidden;
}

#col2 ul
{
    margin-left: -10px;;
}

#col3
{
    float:left;
    width:170px;
    position:relative;
    left:15px;
    overflow:hidden;
}

#footer
{
    width:100%;
    height: 50px;
    background-color: #ebe6df;
    padding:0;
    margin:0;
    border-top:1px solid #000;
    position: fixed;
    bottom: 0px;
}

#footer p {
    padding:.5em 15px;
}

#logo
{
	background-image: url("images/HockeduLogo.png");
	background-repeat: no-repeat;
    width: 800px;
    height: 200px;
	margin: auto;
	margin-top: 10px;
	padding-bottom: 0px;
}

.ad
{
  margin-top: 10px;
  text-align: center;
}

#container
{
	width: 820px;
	margin: auto;
    padding-bottom: 15px;
	background-color: #a0cfff;
	border-color: #1e5799;
	border-width: 2px;
	border-style: solid;
    margin-top: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-box-shadow: 1px 1px black;
    -webkit-box-shadow: 1px 1px black;
    box-shadow: 1px 1px black;
}



.menu
{
	list-style-type: none;
	text-align: center;
	background-color: #1874ca;
	padding-top: 10px;
	padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
        -moz-border-radius: 10px;
    border-bottom: 2px solid #1e5799;
}

.menu li
{
	display: inline;
	border-color: #5f7221;
/* 	background-color: #97d553;
	border-width: 2px;
	border-style: solid;  */
	padding: 5px;
	color: white;
	font-size: 14px;
    margin: 3px;
}

.menu li a
{
	text-decoration: none;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
	color: white;
	padding: 5px;
}

.menu li a:hover
{
	background-color: #82b6e7;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-box-shadow: inset 1px 1px #888;
    -webkit-box-shadow: inset 1px 1px #888;
    box-shadow: inset 1px 1px #888;
}

#content
{
	padding: 10px;
}

#content ul
{
	margin-left: 30px;
}

#content p
{
	margin-left: 10px;
}

h1
{
	color: #4b83ce;
	margin: 5px;
	margin-bottom: 20px;
	font-size: 2em;
	font-weight: bold;
    text-shadow: 1px 1px black;
}

h2
{
	margin: 5px;
	font-size: 18px;
	font-weight: bold;
}

.itembox
{
	background-color: #fbfdd5;
	margin-left: 10px;
	padding: 5px;
	margin-bottom: 10px;
}

.itembox p
{
	margin-left: 10px;
}

.newsdetails
{
	font-size: 10px;
	margin-top: 10px;
}

.tdthumb, .tdauthor, .tdrating, .tddownload
{
	text-align: center;
}
.tdauthor, .tdrating, .tddownload, .tddescription, .tdmapname
{
	background-color: #f0f3cc;
	margin: 0px;
	padding: 5px;
	border: 1px solid #2c3d0a;
	overflow: hidden;
}

.tddownload
{
	background-color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
}

.pages
{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.pages li
{
	display: inline;
	margin-right: 3px;
  margin-bottom: 35px;
}

.pages li a
{
	background-color: #f0f3cc;
	text-decoration: none;
	border: 1px solid #2c3d0a;
	padding: 2px;
	margin-right: 3px;
}

.currentpage
{
	font-weight: bold;
}

form p
{
	margin-top: 5px;
	margin-bottom: 5px;
}

sup, .error
{
	color: red;
	font-weight: bold;
}

#copyright
{
	margin-top: 15px;
	font-size: 10px;
	text-align: center;
	color: white;
}
