/*.*
/AideCollision.obj
/AideGL.obj
/Animation.obj
/AnimationFrame.obj
/AnimationReprise.obj
/BoiteEnvironnement.obj
/CEcritureFichierBinaire.obj
/CLectureFichierBinaire.obj
/Camera.obj
/CompteurAffichage.obj
/ConteneurAttribut.obj
/DirectorySearch.obj
/Droite3D.obj
/EtatOpenGL.obj
/ExceptionJeu.obj
/GameTime.obj
/GestionnaireAnimations.obj
/LumiereAbstraite.obj
/LumiereAmbiante.obj
/LumiereDirectionnelle.obj
/LumiereSpot.obj
/ObjetAnimable.obj
/Phont.obj
/Plan3D.obj
/Projection.obj
/ProjectionOrtho.obj
/ProjectionPerspective.obj
/Solution_Defines.obj
/Utilitaire.obj
/Vue.obj
/VueOrtho.obj
/VuePerspectiveCiel.obj
/VuePerspectiveLibre.obj
/VuePerspectiveOrbit.obj
/VuePerspectiveSplit.obj
/XMLUtils.obj
/textfile.obj
